#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.mainLayout {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 2rem;
}

.mainHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mainSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}

.mainFooter {
  display: flex;
  gap: 32px;
  justify-content: center;
  margin-top: 48px;
}

.profilePhoto {
  max-height: 20em;
  border-radius: var(--image-corners);
  object-fit: contain;
}

@media (min-width: 900px) {
  .mainLayout {
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-items: end;
  }

  .mainSection {
    text-align: left;
  }
}
