:root {
  /* Variables */

  /* Colors */
  --main-color: light-dark(#2932ff, #8a8eff);
  --main-hover-color: light-dark(#000ac7, #535bf2);
  --onyx: #080808;
  --ld-background: light-dark(white, var(--onyx));
  --ld-font-color: light-dark(var(--onyx), white);
  --ld-button-background: light-dark(#f9f9f9, #1a1a1a);
  --button-border-color--hover: var(--main-color);
  /* Colors */

  /* Decorators */
  --image-corners: 24px;
  --card-corners: 12px;
  /* Decorators */

  /* Defaults */
  --base-font-size: 1rem;
}

html {
  box-sizing: border-box;
  color-scheme: light dark;
}
html:has(#dark-theme-checkbox) {
  color-scheme: dark;
}
html:has(#light-theme-checkbox) {
  color-scheme: light;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: var(--ld-background);
  color: var(--ld-font-color);

  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  font-size: var(--base-font-size);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--main-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--main-hover-color);
}

h1 {
  font-size: calc(var(--base-font-size) * 3.2);
  line-height: 1.1;
}
h2 {
  font-size: calc(var(--base-font-size) * 1.8);
  line-height: 1.1;
}
h3 {
  font-size: calc(var(--base-font-size) * 1.2);
  line-height: 1.1;
  font-weight: 600;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--ld-button-background);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--button-border-color--hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

img {
  max-width: 100%;
}

@media (min-width: 900px) {
  :root {
    --base-font-size: 1.125rem;
  }
}
